<%- include ("_header") %>
<main class="container-fluid p-0">
    <section class="art bg-transparent">
        <article class="">
            <div class="article-header">
                <h4 class="art-title m-1 p-1">
                    <%= article.title %>
                </h4>
                <div class="art-cover text-center my-2">
                    <%# art.cover  %> 
                    <img class="img-fluid" src="/assest/cover_ph.png" alt="" height="220px">
                </div>
                <%# depencies for widget %> 
                <%- include ("_article_author_widget") %> 
            </div>
            <div id="articleBody" class="art-body bg-white my-2 p-2">
                <%- article.content %>
            </div>
        </article>
    </section>

    <% if (article.tags.length) { %>
    <div class="tags-list my-2 p-2 bg-white shadow-sm">
        <span class="m-3">Tags</span>
        <% article.tags.forEach(tag => { %>
        <a class="tag badge badge-pill" href=""><%= tag %></a>
        <% }) %>
    </div>
    <% } %>
</main>
<%- include ("_footer") %>